#regletter {
  position: relative;
  bottom: 35px;
}

#rectangle {
  display:inline-block;
  width:90%;
  height:10%;
  border:1px solid #000;
}

#registers {
    display:inline-block;
    width: 90%;
    height: 25%;
    border:1px solid #000;

}

#memory {
    display:inline-block;
    width: 90%;
    height: 25%;
    border:1px solid #000;
    
}

#header {
    background-color:green;
    color:white;
    font-family: Arial; 
    text-align:left;
    padding:1%;
}

#verticalLine {
    border-left: thick solid #ff0000;
}

.registerBlock {
  margin-left: 50%;
  margin-top: -34%;
  
}

.memoryBlock {
    margin-left: 50%;
    margin-top:  5%;
}

div.fullWidth {
    width:100%;
    height:100%;
    background-color:#CCC;
}