#regletter {
	
}

#rectangle {
  display:inline-block;
  width:90%;
  height:10%;
  border:1px solid #000;
}

#header {
    background-color:green;
    color:white;
    font-family: Arial; 
    text-align:left;
    padding:1%;
}

.red {
	background-color: red;
}

.registers {
	
}

.memory {
    margin-top:2em;
}

.diagram {
	
}

.fullWidth {
    width:100%;
    height:100%;
    background-color:#CCC;
}

.fLeft {
	width:50%;
	float:left;
}

.fRight {
	width:50%;
	float:right;
}

button {
	margin:10px 10px;
}