<div class="fullWidth">
	<h1 align=left id="header">
    <div><center>YESS Visual</center></div>
		<div>
			<button (click)="prevListener()">Previous</button>
			<button (click)="runListener()">Run</button>
			<button (click)="nextListener()">Next</button>
      <button (click)="changeListener()">Change Dump File</button>  View: <h3>{{viewName}}</h3>
		</div>
		<div>
			Upload your file: <input type=file (change)="userUploadListener($event)">
			Upload correct file: <input type=file (change)="correctUploadListener($event)">
		</div>
	</h1>
	
	<div class="fLeft">
		<div *ngIf="cn" class="diagram">
			<span [class.red]="isRed[views.CycleNum]">Cycle Number {{cn.cycleNum}}</span>
			<div>
        <span id="regletter"><b>W</b></span>
        <div id="rectangle"><b> stat:</b> <span [class.red]="isRed[views.wstat]">{{cn.w[0]}}</span>, <b> icode:</b> <span [class.red]="isRed[views.wicode]">{{cn.w[1]}}</span>, <b> valE:</b> <span [class.red]="isRed[views.wvale]">{{cn.w[2]}}</span>, <b> valM:</b> <span [class.red]="isRed[views.wvalm]">{{cn.w[3]}}</span>, <b> dstE:</b> <span [class.red]="isRed[views.wdste]">{{cn.w[4]}}</span>, <b> dstM:</b> <span [class.red]="isRed[views.wdstm]">{{cn.w[5]}}</span></div>
			</div>
			<br>
			<div>
        <span id="regletter"><b>M</b></span>
        <div id="rectangle"><b> stat:</b> <span [class.red]="isRed[views.mstat]">{{cn.m[0]}}</span>, <b> icode:</b> <span [class.red]="isRed[views.micode]">{{cn.m[1]}}</span>, <b> Cnd:</b> <span [class.red]="isRed[views.mcnd]">{{cn.m[2]}}</span>, <b> valE:</b> <span [class.red]="isRed[views.mvale]">{{cn.m[3]}}</span>, <b> valA:</b> <span [class.red]="isRed[views.mvala]">{{cn.m[4]}}</span>, <b> dstE:</b> <span [class.red]="isRed[views.mdste]">{{cn.m[5]}}</span>, <b> dstM:</b> <span [class.red]="isRed[views.mdstm]">{{cn.m[6]}}</span></div>
			</div>
			<br>
			<div>
        <span id="regletter"><b>E</b></span>
				<div id="rectangle">
          <b> stat:</b> <span [class.red]="isRed[views.estat]">{{cn.e[0]}}</span>, <b> icode:</b> <span [class.red]="isRed[views.eicode]">{{cn.e[1]}}</span>, <b> ifun:</b> <span [class.red]="isRed[views.eifun]">{{cn.e[2]}}</span>, <b> valC:</b> <span [class.red]="isRed[views.evalc]">{{cn.e[3]}}</span>, <b> valA:</b> <span [class.red]="isRed[views.evala]">{{cn.e[4]}}</span><br>
          <b> valB:</b> <span [class.red]="isRed[views.evalb]">{{cn.e[5]}}</span>, <b> dstE:</b> <span [class.red]="isRed[views.edste]">{{cn.e[6]}}</span>, <b> dstM:</b> <span [class.red]="isRed[views.edstm]">{{cn.e[7]}}</span>, <b> srcA:</b> <span [class.red]="isRed[views.esrca]">{{cn.e[8]}}</span>, <b> srcB:</b> <span [class.red]="isRed[views.esrcb]">{{cn.e[9]}}</span>
				</div>
			</div>
			<br>
			<div>
        <span id="regletter"><b>D</b></span>
        <div id="rectangle"><b>stat:</b> <span [class.red]="isRed[views.dstat]">{{cn.d[0]}}</span>, <b> icode:</b> <span [class.red]="isRed[views.dicode]">{{cn.d[1]}}</span>, <b> ifun:</b> <span [class.red]="isRed[views.difun]">{{cn.d[2]}}</span>, <b> rA:</b> <span [class.red]="isRed[views.dra]">{{cn.d[3]}}</span>, <b> rB:</b> <span [class.red]="isRed[views.drb]">{{cn.d[4]}}</span>, <b> valC:</b> <span [class.red]="isRed[views.dvalc]">{{cn.d[5]}}</span>, <b> valP:</b> <span [class.red]="isRed[views.dvalp]">{{cn.d[6]}}</span></div>
			</div>
			<br>
			<div>
        <span id="regletter"><b>F</b></span>
        <div id="rectangle"><b>predPC:</b> <span [class.red]="isRed[views.fpredpc]">{{cn.f}}</span></div>
			</div>
      <div><b>Conditional Flags </b><b> ZF:</b> <span [class.red]="isRed[views.zflag]">{{cn.zf}}</span>  <b> SF:</b> <span [class.red]="isRed[views.sflag]">{{cn.sf}}</span>  <b> OF:</b> <span [class.red]="isRed[views.oflag]">{{cn.of}}</span></div>
		</div>
	</div>
	
	<div class="fRight">
		<div *ngIf="cn" class="registers">
			<table>
				<tr>
					<td><b>%rax:</b> {{cn.genRegs[0]}}</td>
					<td><b>%rcx:</b> {{cn.genRegs[1]}}</td>
					<td><b>%rdx:</b> {{cn.genRegs[2]}}</td>
					<td><b>%rbx:</b> {{cn.genRegs[3]}}</td>
				</tr>
				<tr>
					<td><b>%rsp:</b> {{cn.genRegs[4]}}</td>
					<td><b>%rbp:</b> {{cn.genRegs[5]}}</td>
					<td><b>%rsi:</b> {{cn.genRegs[6]}}</td>
					<td><b>%rdi:</b> {{cn.genRegs[7]}}</td>
				</tr>
				<tr>
					<td><b>%r8:</b> {{cn.genRegs[8]}}</td>
					<td><b>%r9:</b> {{cn.genRegs[9]}}</td>
					<td><b>%r10:</b> {{cn.genRegs[10]}}</td>
					<td><b>%r11:</b> {{cn.genRegs[11]}}</td>
				</tr>
				<tr>
					<td><b>%r12:</b> {{cn.genRegs[12]}}</td>
					<td><b>%r13:</b> {{cn.genRegs[13]}}</td>
					<td><b>%r14:</b> {{cn.genRegs[14]}}</td>
				</tr>
			</table>
		</div>
		
		<div *ngIf="cn" class="memory">
			<table>
				<tr *ngFor="#data of cn.mem">
					<td><b>{{data[0]}}</b> {{data[1]}} {{data[2]}} {{data[3]}} {{data[4]}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

