<div class="fullWidth">
	<h1 align=left id="header">
		<div>YESS Visual</div>
		<div>
			<button (click)="prevListener()">Previous</button>
			<button (click)="runListener()">Run</button>
			<button (click)="nextListener()">Next</button>
      <button (click)="changeListener()">Change Dump File</button>  View: {{viewName}}
		</div>
		<div>
			Upload your file: <input type=file (change)="userUploadListener($event)">
			Upload correct file: <input type=file (change)="correctUploadListener($event)">
		</div>
	</h1>
	
	<div class="fLeft">
		<div *ngIf="cn" class="diagram">
			<span>Cycle Number {{cn.cycleNum}}</span>
			<div>
        <span id="regletter"><b>W</b></span>
        <div id="rectangle"><b> stat:</b> {{cn.w[0]}}, <b> icode:</b> {{cn.w[1]}}, <b> valE:</b> {{cn.w[2]}}, <b> valM:</b> {{cn.w[3]}}, <b> dstE:</b> {{cn.w[4]}}, <b> dstM:</b> {{cn.w[5]}}</div>
			</div>
			<br>
			<div>
        <span id="regletter"><b>M</b></span>
        <div id="rectangle"><b> stat:</b> {{cn.m[0]}}, <b> icode:</b> {{cn.m[1]}}, <b> Cnd:</b> {{cn.m[2]}}, <b> valE:</b> {{cn.m[3]}}, <b> valA:</b> {{cn.m[4]}}, <b> dstE:</b> {{cn.m[5]}}, <b> dstM:</b> {{cn.m[6]}}</div>
			</div>
			<br>
			<div>
        <span id="regletter"><b>E</b></span>
				<div id="rectangle">
          <b> stat:</b> {{cn.e[0]}}, <b> icode:</b> {{cn.e[1]}}, <b> ifun:</b> {{cn.e[2]}}, <b> valC:</b> {{cn.e[3]}}, <b> valA:</b> {{cn.e[4]}}<br>
          <b> valB:</b> {{cn.e[5]}}, <b> dstE:</b> {{cn.e[6]}}, <b> dstM:</b> {{cn.e[7]}}, <b> srcA:</b> {{cn.e[8]}}, <b> srcB:</b> {{cn.e[9]}}
				</div>
			</div>
			<br>
			<div>
        <span id="regletter"><b>D</b></span>
        <div id="rectangle"><b>stat:</b> {{cn.d[0]}}, <b> icode:</b> {{cn.d[1]}}, <b> ifun:</b> {{cn.d[2]}}, <b> rA:</b> {{cn.d[3]}}, <b> rB:</b> {{cn.d[4]}}, <b> valC:</b> {{cn.d[5]}}, <b> valP:</b> {{cn.d[6]}}</div>
			</div>
			<br>
			<div>
        <span id="regletter"><b>F</b></span>
        <div id="rectangle"><b>predPC:</b> {{cn.f}}</div>
			</div>
      <div><b>Conditional Flags </b><b> ZF:</b> {{cn.zf}}  <b> SF:</b> {{cn.sf}}  <b> OF:</b> {{cn.of}}</div>
		</div>
	</div>
	
	<div class="fRight">
		<div *ngIf="cn" class="registers">
			<table>
				<tr>
					<td><b>%rax:</b> {{cn.genRegs[0]}}</td>
					<td><b>%rcx:</b> {{cn.genRegs[1]}}</td>
					<td><b>%rdx:</b> {{cn.genRegs[2]}}</td>
					<td><b>%rbx:</b> {{cn.genRegs[3]}}</td>
				</tr>
				<tr>
					<td><b>%rsp:</b> {{cn.genRegs[4]}}</td>
					<td><b>%rbp:</b> {{cn.genRegs[5]}}</td>
					<td><b>%rsi:</b> {{cn.genRegs[6]}}</td>
					<td><b>%rdi:</b> {{cn.genRegs[7]}}</td>
				</tr>
				<tr>
					<td><b>%r8:</b> {{cn.genRegs[8]}}</td>
					<td><b>%r9:</b> {{cn.genRegs[9]}}</td>
					<td><b>%r10:</b> {{cn.genRegs[10]}}</td>
					<td><b>%r11:</b> {{cn.genRegs[11]}}</td>
				</tr>
				<tr>
					<td><b>%r12:</b> {{cn.genRegs[12]}}</td>
					<td><b>%r13:</b> {{cn.genRegs[13]}}</td>
					<td><b>%r14:</b> {{cn.genRegs[14]}}</td>
				</tr>
			</table>
		</div>
		
		<div *ngIf="cn" class="memory">
			<table>
				<tr *ngFor="#data of cn.mem">
					<td><b>{{data[0]}}</b> {{data[1]}} {{data[2]}} {{data[3]}} {{data[4]}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

